In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv('spam.tsv',sep='\t',header=None)

In [15]:
df.head(5)

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
df.isnull().sum()

0    0
1    0
dtype: int64

In [19]:
len(df)

5572

In [22]:
df[0].value_counts()#shows highly skewed data

ham     4825
spam     747
Name: 0, dtype: int64

In [25]:
#Solution: Balance Data
ham = df[df[0]=='ham']
ham.head()

     0                                                  1
0  ham  Go until jurong point, crazy.. Available only ...
1  ham                      Ok lar... Joking wif u oni...
3  ham  U dun say so early hor... U c already then say...
4  ham  Nah I don't think he goes to usf, he lives aro...
6  ham  Even my brother is not like to speak with me. ...

In [26]:
spam = df[df[0]=='spam']
spam.head()

       0                                                  1
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [29]:
ham.shape,spam.shape

((4825, 2), (747, 2))

In [30]:
ham = ham.sample(spam.shape[0])

In [31]:
ham.shape,spam.shape

((747, 2), (747, 2))

In [33]:
#Exploratory Data Analysis/Data preparation
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
X_train,X_test,y_train,y_test = train_test_split(data[1],data[0],test_size=0.3,random_state=0,shuffle=True,stratify=data[0])

In [43]:
###Vectorisation/Bag of word creation
vectoriser = TfidfVectorizer()

In [37]:
X_train = vectoriser.fit_transform(X_train)
print(X_train.shape)

(3900, 7143)

In [38]:
X_train

<3900x7143 sparse matrix of type '<class 'numpy.float64'>'
	with 51894 stored elements in Compressed Sparse Row format>

In [44]:
#Pipeline and RF
clf = Pipeline([('tfidf', TfidfVectorizer()), ('clf',RandomForestClassifier(n_estimators=100,n_jobs=-1))])

In [46]:
clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=-1,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [47]:
y_pred = clf.predict(X_test)

In [48]:
confusion_matrix(y_test,y_pred)

array([[1446,    2],
       [  46,  178]])

In [49]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         ham       0.97      1.00      0.98      1448
        spam       0.99      0.79      0.88       224

    accuracy                           0.97      1672
   macro avg       0.98      0.90      0.93      1672
weighted avg       0.97      0.97      0.97      1672

In [50]:
accuracy_score(y_test,y_pred)

0.9712918660287081

In [62]:
clf.predict(["my name is JV"])

array(['ham'], dtype=object)

In [61]:
clf.predict(['Our records indicate your Pension is under performing to see higher growth and up to 25% cash release reply PENSION for a free review. To opt out reply STOP'])

array(['spam'], dtype=object)